.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #121111;
  }
  
  .table-bordered {
    border: 1px solid #0c0c0c;
  }
  
  .table-dark {
    color: #101010;
    background-color: #212529;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(23, 113, 209, 0.05);
  }
  /* Add this CSS to your component's stylesheet or a global stylesheet */
.card-with-border-radius {
  background-color: #DDF2FD; /* Set the background color to pink */
  border-radius: 10px; /* Add border radius for rounded corners */
  padding: 40px; /* Add some padding for spacing */
  margin: 5px;
  /* You can add more styling as needed */
}
 /* Let's add some colors and styling for our sidebar navigation */
 body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
 
}